
header {
  display: block; text-align: left;
}

header h1 {
  font: 50px Helvetica, sans-serif; color: #333;
  font-weight: lighter;
}


h1 {
  font-size: 50px;
}

body {
  font: 20px Helvetica, sans-serif; color: #333;
  padding: 10px;

}

article {
  display: block; text-align: left; width: 650px; margin: 0 auto;
  padding: 150px;
}

a {
  color: #dc8100; text-decoration: none;
}

a:hover {
  color: #333; text-decoration: none;
}
