header {
  position: absolute;
  width: 241px;
  height: 60px;
  left: 50px;
  top: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  /* identical to box height */

  color: #374235;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the navbar */
.navbar {
  overflow: hidden;
  position: fixed;
  top: 35px;
  right: 50px;
  width: 100%;
}

/* Navbar links */
.navbar a {
  float: right;
  display: block;
  font: Lato;
  font-size: 24px;
  color: #000000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: 3px solid #435517;
}

h1 {
  font-size: 50px;
}

article {
  display: block; text-align: left; width: 700px; margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 150px;
  padding-bottom: 150px;

}

a {
  color: #dc8100; text-decoration: none;
}
